# Rust
/target/
**/*.rs.bk

# Тимчасові файли та логи
debug.txt
*.json
*.log

# Python (якщо ці скрипти тобі не потрібні в репозиторії)
# Якщо потрібні — просто видали наступний рядок
*.py

# Ігноруємо бінарники, які могли завалятися в корені
anihub-cli
